@font-face {
  font-family: kapakana;
  src: url(./assets/Kapakana.ttf);
}
*{
  padding: 0;
  margin: 0;
}
body{
  /* overflow-x: hidden; */
  font-family: Arial, Helvetica, sans-serif;
  /* display: flex;
  justify-content: center;
  flex-direction: row; */
  padding-bottom: 5000px;
}
.header{
  /* position: fixed; */
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: fixed;
  width: 100vw;
  right: 0;
}
.header--container{
  background-color: rgba(46, 46, 46, 0.6);
  font-family: kapakana;
  font-size:25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  width: 60vw;
  height: 70px;
  margin-top: 25px;
  border-radius: 50px;
  color: white;
}
.header--buttons{
  display: flex;
  gap: 30px;
  align-items: center;
}
.header--buttons a {
  color: white;
}





.hero--img{
  width:100%;
  position:absolute;
  left: 0;
  top: 0;
  z-index: -1;
}