@font-face {
  font-family: kapakana;
  src: url(./assets/Kapakana.ttf);
}

*{
  padding: 0;
  margin: 0;
}

body{

  --main:#8763e3;

  /* overflow-x: hidden; */
  font-family: Arial, Helvetica, sans-serif;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  padding-bottom: 5000px;
}
body::selection{
  color: black;
  background: #8763e3;
}
.header{
  user-select: none;
  position:fixed;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100vw;
  right: 0;
  top: 0;
  z-index: 100;
}
.header--container{
  background-color: rgba(46, 46, 46, 0.6);
  font-family: kapakana;
  font-size:25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  width: 60vw;
  height: 70px;
  margin-top: 25px;
  border-radius: 50px;
  color: white;
}
.header--buttons{
  display: flex;
  gap: 30px;
  align-items: center;
}
.header--buttons a {
  color: white;
}





.hero--img{
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  width:100%;
  position:absolute;
  left: 0;
  top: 0;
  z-index: -1;
}


.Brands{
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin-top: 87vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.brands--container{
  /* background-color: lightblue; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  border: 3px solid black;
  border-radius: 25px;
  padding: 40px 0px;
  gap: 40px;
}
.brands--header{
  /* background-color: lightgreen; */
  font-size: 60px;
  font-family: kapakana;
  width: 190px;
  text-align: center;
}
.brands--img-list{
  /* background-color: lightcoral; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;

}
.brands--img-list a {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(217, 217, 217, 1);
  border-radius: 200px;
}
.brands--img-list a:hover{
  box-shadow: 0px 13px 50px var(--main) ;
}

.rolex,
.Patek{
  width: 150px;
}
.citizen,
.tudor{
  width: 120px;
}
.Jacob{
  width: 80px;
}


.spacer{
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  aspect-ratio: 960/200;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.layer1{
  background-image: url(./assets/wave1.svg);
}
.layer2{
  background-image: url(./assets/wave4.svg);
}
.sec1--container{
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  background-color: var(--main);
  color: white;
  font-size: 55px;
  font-family: kapakana;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}